# Rock vs Mine Prediction

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import svm
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
dataset = pd.read_csv(r'C:\Users\KIIT\Desktop\Programming\AI_ML\Practice\New\sonar data.csv',header=None)

In [6]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [7]:
dataset.shape

(208, 61)

In [8]:
dataset.describe()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [9]:
dataset[60].value_counts()

M    111
R     97
Name: 60, dtype: int64

In [10]:
dataset.groupby(60).mean()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
60,,,,,,,,,,,,,,,,,,,,,
M,0.034989,0.045544,0.050720,0.064768,0.086715,0.111864,0.128359,0.149832,0.213492,0.251022,...,0.019352,0.016014,0.011643,0.012185,0.009923,0.008914,0.007825,0.009060,0.008695,0.006930
R,0.022498,0.030303,0.035951,0.041447,0.062028,0.096224,0.114180,0.117596,0.137392,0.159325,...,0.012311,0.010453,0.009640,0.009518,0.008567,0.007430,0.007814,0.006677,0.007078,0.006024

In [11]:
x=dataset.drop(columns=60,axis=1)
y=dataset[60]

## Splitting into Train vs Test

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=1,stratify=y)

# Model Trainnong Logistic Regression

In [13]:
model = LogisticRegression()

In [14]:
model.fit(x_train,y_train)

LogisticRegression()

# Evaluation

In [15]:
x_train_prediction=model.predict(x_train)

In [16]:
training_acc=accuracy_score(x_train_prediction,y_train)

In [17]:
training_acc

0.8342245989304813

In [18]:
x_test_prediction=model.predict(x_test)

In [19]:
test_acc=accuracy_score(x_test_prediction,y_test)

In [20]:
test_acc

0.7619047619047619

In [19]:
print(dataset.std())

0     0.022991
1     0.032960
2     0.038428
3     0.046528
4     0.055552
5     0.059105
6     0.061788
7     0.085152
8     0.118387
9     0.134416
10    0.132705
11    0.140072
12    0.140962
13    0.164474
14    0.205427
15    0.232650
16    0.263677
17    0.261529
18    0.257988
19    0.262653
20    0.257818
21    0.255883
22    0.250175
23    0.239116
24    0.244926
25    0.237228
26    0.245657
27    0.237189
28    0.240250
29    0.220749
30    0.213992
31    0.213237
32    0.206513
33    0.231242
34    0.259132
35    0.264121
36    0.239912
37    0.212973
38    0.199075
39    0.178662
40    0.171111
41    0.168728
42    0.138993
43    0.133291
44    0.151628
45    0.133938
46    0.086953
47    0.062417
48    0.035954
49    0.013665
50    0.012008
51    0.009634
52    0.007060
53    0.007301
54    0.007088
55    0.005736
56    0.005785
57    0.006470
58    0.006181
59    0.005031
dtype: float64

C:\Users\KIIT\AppData\Local\Temp\ipykernel_17768\2029550482.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(dataset.std())

In [20]:
classifier=svm.SVC(kernel='linear')

In [21]:
classifier.fit(x_train,y_train)

SVC(kernel='linear')

In [22]:
y_predict=classifier.predict(x_train)

In [23]:
accuracy=accuracy_score(y_predict,y_train)

In [24]:
accuracy

0.839572192513369

#### Logistic Regrssion gave slightly better accuracy

# Spam vs Ham

In [30]:
data2=pd.read_csv("mail_data.csv")

In [32]:
data2.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [35]:
data2['Category'].value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [39]:
data2.isnull().sum()

Category    0
Message     0
dtype: int64

In [43]:
from sklearn.preprocessing import LabelEncoder

In [45]:
encoder=LabelEncoder()
labels=data2['Category']

In [46]:
labels=encoder.fit_transform(data2['Category'])

In [47]:
labels

array([0, 0, 1, ..., 0, 0, 0])

In [53]:
data2=data2.drop('Category',axis=1)

In [54]:
data2['Target']=labels

In [55]:
data2.head()

                                             Message  Target
0  Go until jurong point, crazy.. Available only ...       0
1                      Ok lar... Joking wif u oni...       0
2  Free entry in 2 a wkly comp to win FA Cup fina...       1
3  U dun say so early hor... U c already then say...       0
4  Nah I don't think he goes to usf, he lives aro...       0

In [56]:
x=data2['Message']
y=data2['Target']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,stratify=y,random_state=1)

In [61]:

print(x.shape)

(5572,)

# Text Data to numerical values

In [67]:
from nltk.corpus import stopwords
import nltk

In [68]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [73]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Corrected parameters
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)

In [89]:
x_train_features=feature_extraction.fit_transform(x_train)
x_test_features=feature_extraction.transform(x_test)

In [90]:
model=LogisticRegression()

In [91]:
model.fit(x_train_features,y_train)

LogisticRegression()

In [92]:
y_train_prediction=model.predict(x_train_features)

In [93]:
acc=accuracy_score(y_train_prediction,y_train)

In [94]:
acc

0.9696848823294775

In [95]:
y_test_prediction=model.predict(x_test_features)

In [96]:
acc=accuracy_score(y_test_prediction,y_test)

In [97]:
acc

0.9695340501792115

## Prediction system

In [113]:
input_1=(["Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."])
#converting text to feature vectors
transformed_input=feature_extraction.transform(input_1)

In [122]:
prediction=model.predict(transformed_input)
if prediction==0:
    print("Ham")
else:
    print("Spam")

Ham

In [115]:
prediction

array([0])

In [116]:
data2.head()

                                             Message  Target
0  Go until jurong point, crazy.. Available only ...       0
1                      Ok lar... Joking wif u oni...       0
2  Free entry in 2 a wkly comp to win FA Cup fina...       1
3  U dun say so early hor... U c already then say...       0
4  Nah I don't think he goes to usf, he lives aro...       0

In [118]:
del input  # Delete the variable named 'input'

In [123]:
user_input_text = input("Enter Mail:")

# Transform the user input into feature vectors
transformed_input_2 = feature_extraction.transform([user_input_text])

Enter Mail:Welcome to Character.AI Character.AI lets you chat and create Characters that feel alive, anywhere and anytime.  Get started now by downloading the mobile app for iOS, Android or by visiting our website.  Have questions or need some support? Visit the official Help Center.  We're so glad you're here and can't wait to see what you create!  Join us on socials for the latest news on features, updates, and more. C.AI Community | Reddit | Tiktok | Twitter | Instagram | Facebook

In [124]:
prediction=model.predict(transformed_input)
if prediction==0:
    print("Ham")
else:
    print("Spam")

Ham